<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House price predictor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<div>
    <div class="wrapper">
        <div id="bubble_chart" align="center"></div>
        <script type="text/javascript">
            var bubble = {{bubble_plot|safe}};
            Plotly.plot('bubble_chart',bubble,{});
        </script>
    </div>
</div>

<form action="{{url_for('main')}}" method="POST">
    <fieldset>
        <div id="measures">
            <div class="wrapper">
                <h2>Area measures</h2>
                <div class="container">
                    <div class="column_1">
                        <p>
                            <label for="LotFrontage"><span>Linear feet of street connected to property</span><br>
                                <input type="number" id="LotFrontage" name="LotFrontage"><br>
                            </label>
                        </p>
                        <p>
                            <label for="MasVnrArea"><span>Masonry veneer area in square feet</span><br>
                                <input type="number" id="MasVnrArea" name="MasVnrArea"><br>
                            </label>
                        </p>
                        <p>
                            <label for="TotalBsmtSF"><span>Total square feet of basement area</span><br>
                                <input type="number" id="TotalBsmtSF" name="TotalBsmtSF"><br>
                            </label>
                        </p>
                    </div>
                    <div class="column_2">
                        <p>
                            <label for="firstFlrSF"><span>First Floor square feet</span><br>
                                <input type="number" id="firstFlrSF" name="firstFlrSF"><br>
                            </label>
                        </p>
                        <p>
                            <label for="GrLivArea"><span>Above grade (ground) living area square feet</span><br>
                                <input type="number" id="GrLivArea" name="GrLivArea"><br>
                            </label>
                        </p>
                        <p>
                            <label for="GarageArea"><span>Size of garage in square feet</span><br>
                                <input type="number" id="GarageArea" name="GarageArea"><br>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="numberOfs">
            <div class="wrapper">
                <h2>Interior details</h2>
                <div class="container">
                    <div class="column_1">
                        <p>
                            <label for="FullBath"><span>Full bathrooms above grade</span><br>
                                <input type="number" id="FullBath" name="FullBath"><br>
                            </label>
                        </p>
                        <p>
                            <label for="TotRmsAbvGrd"><span>Total rooms above grade (does not include bathrooms)</span><br>
                                <input type="number" id="TotRmsAbvGrd" name="TotRmsAbvGrd"><br>
                            </label>
                        </p>
                        <p>
                            <label for="MasVnrType"><span>Masonry veneer type</span>
                                <select id="MasVnrType" name="MasVnrType" style="margin: 32px 0 0 0;">
                                    <option value="0.5917808219178082">None</option>
                                    <option value="0.3047945205479452">Brick Face</option>
                                    <option value="0.08767123287671233">Stone</option>
                                    <option value="0.010273972602739725">Brick Common</option>
                                </select><br>
                            </label>
                        </p>
                    </div>
                    <div class="column_2">
                        <p>
                            <label for="Fireplaces"><span>Number of fireplaces</span><br>
                                <input type="number" id="Fireplaces" name="Fireplaces"><br>
                            </label>
                        </p>
                        <p>
                            <label for="GarageCars"><span>Size of garage in car capacity</span><br>
                                <input type="number" id="GarageCars" name="GarageCars"><br>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="quality">
            <div class="wrapper">
                <h2>Quality measures</h2>
                <label for="OverallQual"><span>Rates the overall material and finish of the house</span>
                    <ul id="OverallQual">
                        <li><label>
                            <input type="radio" name="OverallQual" value="0">
                        </label>0
                        </li>
                        <li><label>
                            <input type="radio" name="OverallQual" value="1">
                        </label>1
                        </li>
                        <li><label>
                            <input type="radio" name="OverallQual" value="2">
                        </label>2
                        </li>
                        <li><label>
                            <input type="radio" name="OverallQual" value="3">
                        </label>3
                        </li>
                        <li><label>
                            <input type="radio" name="OverallQual" value="4">
                        </label>4
                        </li>
                        <li><label>
                            <input type="radio" name="OverallQual" value="5">
                        </label>5
                        </li>
                        <li><label>
                            <input type="radio" name="OverallQual" value="6">
                        </label>6
                        </li>
                        <li><label>
                            <input type="radio" name="OverallQual" value="7">
                        </label>7
                        </li>
                        <li><label>
                            <input type="radio" name="OverallQual" value="8">
                        </label>8
                        </li>
                        <li><label>
                            <input type="radio" name="OverallQual" value="9">
                        </label>9
                        </li>
                    </ul>
                </label>

                <label for="ExterQual"><span>Evaluates the quality of the material on the exterior</span>
                    <ul id="ExterQual">
                        <li><label>
                            <input type="radio" name="ExterQual" value="0">
                        </label>Poor
                        </li>
                        <li><label>
                            <input type="radio" name="ExterQual" value="1">
                        </label>Fair
                        </li>
                        <li><label>
                            <input type="radio" name="ExterQual" value="3">
                        </label>Average/Typical
                        </li>
                        <li><label>
                            <input type="radio" name="ExterQual" value="2">
                        </label>Good
                        </li>
                        <li><label>
                            <input type="radio" name="ExterQual" value="4">
                        </label>Excellent
                        </li>
                    </ul>
                </label>


                <label for="BsmtQual"><span>Evaluates the height of the basement</span>
                    <ul id="BsmtQual">
                        <li><label>
                            <input type="radio" name="BsmtQual" value="0">
                        </label>Poor
                        </li>
                        <li><label>
                            <input type="radio" name="BsmtQual" value="1">
                        </label>Fair
                        </li>
                        <li><label>
                            <input type="radio" name="BsmtQual" value="2">
                        </label>Average/Typical
                        </li>
                        <li><label>
                            <input type="radio" name="BsmtQual" value="3">
                        </label>Good
                        </li>
                        <li><label>
                            <input type="radio" name="BsmtQual" value="4">
                        </label>Excellent
                        </li>
                    </ul>
                </label>

                <label for="HeatingQC"><span>Heating quality and condition</span>
                    <ul id="HeatingQC">
                        <li><label>
                            <input type="radio" name="HeatingQC" value="0">
                        </label>Poor
                        </li>
                        <li><label>
                            <input type="radio" name="HeatingQC" value="1">
                        </label>Fair
                        </li>
                        <li><label>
                            <input type="radio" name="HeatingQC" value="2">
                        </label>Average/Typical
                        </li>
                        <li><label>
                            <input type="radio" name="HeatingQC" value="3">
                        </label>Good
                        </li>
                        <li><label>
                            <input type="radio" name="HeatingQC" value="4">
                        </label>Excellent
                        </li>
                    </ul>
                </label>

                <label for="KitchenQual"><span>Kitchen quality</span>
                    <ul id="KitchenQual">
                        <li><label>
                            <input type="radio" name="KitchenQual" value="0">
                        </label>Poor
                        </li>
                        <li><label>
                            <input type="radio" name="KitchenQual" value="1">
                        </label>Fair
                        </li>
                        <li><label>
                            <input type="radio" name="KitchenQual" value="2">
                        </label>Average/Typical
                        </li>
                        <li><label>
                            <input type="radio" name="KitchenQual" value="3">
                        </label>Good
                        </li>
                        <li><label>
                            <input type="radio" name="KitchenQual" value="4">
                        </label>Excellent
                        </li>
                    </ul>
                </label>

                <label for="FireplaceQu"><span>Fireplace quality</span>
                    <ul id="FireplaceQu">
                        <li><label>
                            <input type="radio" name="FireplaceQu" value="0">
                        </label>Poor
                        </li>
                        <li><label>
                            <input type="radio" name="FireplaceQu" value="2">
                        </label>Fair
                        </li>
                        <li><label>
                            <input type="radio" name="FireplaceQu" value="3">
                        </label>Average/Typical
                        </li>
                        <li><label>
                            <input type="radio" name="FireplaceQu" value="4">
                        </label>Good
                        </li>
                        <li><label>
                            <input type="radio" name="FireplaceQu" value="5">
                        </label>Excellent
                        </li>
                    </ul>
                </label>
            </div>
        </div>

        <div id="dates">
            <div class="wrapper">
                <h2>Dates of</h2>
                <div class="container">
                    <div class="column_1">
                        <p>
                            <label for="YearBuilt"><span>Original construction date</span><br>
                                <input type="number" id="YearBuilt" name="YearBuilt"><br>
                            </label>
                        </p>
                        <p>
                            <label for="YearRemodAdd"><span>Remodel date (same as construction date if no remodeling or additions)</span><br>
                                <input type="number" id="YearRemodAdd" name="YearRemodAdd"><br>
                            </label>
                        </p>
                    </div>
                    <div class="column_2">
                        <p>
                            <label for="GarageYrBlt"><span>Year garage was built</span><br>
                                <input type="number" id="GarageYrBlt" name="GarageYrBlt"><br>
                            </label>
                        </p>
                        <p>
                            <label for="Age"><span>How old the Property (years)</span><br>
                                <input type="number" id="Age" name="Age"><br>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="wrapper">
                <input type="submit" value="Check">
            </div>
        </div>
    </fieldset>
</form>

<div class="result" align="center">
    <h2>Estimated Price</h2>
    <h2>{{result}} USD</h2>
</div>

</body>
</html>